<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <title>Music Mosiac</title>
  <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}" type="image/x-icon">
  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="/static/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="/static/css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link rel="stylesheet" type="text/css" href="/static/css/navbar.css">


</head>
<body>

  <nav>
  <div class="logo">
    <a id="logo-container" href="#" class="brand-logo">
      <div class="logo" style="display: flex; align-items: center;">
        <img src="/static/images/Color logo with background.svg" alt="Logo" style="max-width: 200px; max-height: 120px;">
      </div>
    </a>
  </div>
  <div class="menu">
    <ul>
      <li><a href="#">Navbar Link</a></li>
    </ul>
  </div>
  <div class="menu-toggle">
    <i class="fa fa-bars"></i>
  </div>
</nav>

  

  
  <div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
      <div class="container">
        <br><br>
        <h1 class="header center text-lighten-2" style="font-family: serif; color: white;">Music Mosiac</h1>
        <div class="row center">
          <h5 class="header col s12 light" style="font-family: serif; color: white;">A modern personalized Music Recommendations at Your Fingertips</h5>
        </div>
        <div class="row center">
          <a href="/login" id="download-button" class="btn-large waves-effect waves-light" <a href="/login" id="download-button" class="btn-large waves-effect waves-light" style="background-color: transparent; color: #FFF; border: 2px solid #FFF; transition: all 0.3s;">Get Started</a>
            
        </div>
        <br><br>
      </div>
    </div>
    <div class="parallax"><img src="/static/images/home_background_3.jpg" alt="Unsplashed background img 1"></div>
  </div>
  
  
  <style>
    #download-button:hover {
      background-color: #00183A;
      color: white;
    }
  </style>
  
  
  
<div class="section1">

  <div class="container">
    <div class="section">

      <!--   Icon Section   -->
      <div class="row">
        <div class="col s12 m4">
          <div class="icon-block" style="padding: 10px;">
            <h2 class="center white-text"><i class="material-icons">flash_on</i></h2>
            <h5 class="center" style="color: white;">Fast Access</h5>
            <p class="light" style="color: white;">Say goodbye to long load times and clunky navigation - with our streamlined interface, you can start enjoying your favorite tunes with just a few clicks.</p>
          </div>
        </div>
        <div class="col s12 m4">
          <div class="icon-block" style="padding: 10px;">
            <h2 class="center white-text"><i class="material-icons">group</i></h2>
            <h5 class="center" style="color: white;">User Experience Focused</h5>
            <p class="light" style="color: white;">We take your likes, dislikes, and behavior into account to personalize your recommendations and help you discover new music that you'll love.</p>
          </div>
        </div>
        <div class="col s12 m4">
          <div class="icon-block" style="padding: 10px;">
            <h2 class="center white-text"><i class="material-icons">settings</i></h2>
            <h5 class="center" style="color: white;">Easy to work with</h5>
            <p class="light" style="color: white;">We offer a range of different functionalities, from personalized recommendations to curated playlists and popular tracks, all presented in a way that is both engaging and informative.</p>
          </div>
        </div>
      </div>
      
    </div>
  </div>
</div>
  <style>
   .section1{
    background-color:#111111
   }
  </style>
  

  
  <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
          <h5 class="header col s12 light">Customize your listening experience with our intuitive interface</h5>
        </div>
      </div>
    </div>
    <div class="parallax"><img src="/static/images/music_image-2.jpg" alt="Unsplashed background img 2"></div>
  </div>


  <div class="section2">

    <div class="container">
    <div class="section">

      <div class="row">
        <div class="col s12 center">
          <h3><i class="mdi-content-send brown-text"></i></h3>
          <h4 style="color: white;">What are we </h4>
          <p class="left-align light" style="color: white;">Music Mosaic is a platform where users can discover new and exciting music. The website uses advanced algorithms to analyze a user's listening habits and recommend music that is tailored to their specific taste. Whether you're into pop, rock, hip-hop, or any other genre, Music Mosaic can help you find new artists and tracks that you'll love. With a vast library of songs and a user-friendly interface, making it easy for music fans to explore new sounds and expand their musical horizons. Whether you're a seasoned audiophile or just starting to build your music collection, Music Mosaic is a great resource for discovering new and exciting music. </p>
        </div>
      </div>

    </div>
  </div>
</div>
<style>
  .section2{
   background-color:#111111
  }
 </style>
 


  <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
          <h5 class="header col s12 light">Access a vast library of songs from around the world</h5>
        </div>
      </div>
    </div>
    <div class="parallax"><img src="/static/images/music_image-3.jpg" alt="Unsplashed background img 3"></div>
  </div>


  <footer class="page-footer" style="background-color: #111111;">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Team Bio</h5>
          <p class="grey-text text-lighten-4">"We are a team of passionate college students working on our final year Capstone Project. Our vision was to create a modern and intuitive music website that integrates API, Recommendations, and CRUD operations into a single project. With this opportunity to start from scratch, we designed and built a user-friendly, interactive, and simple platform that delivers an exceptional user experience. Our goal is to provide music enthusiasts with a one-stop-shop for discovering, exploring, and enjoying their favorite tunes. Thank you for joining us on this exciting journey."</p>


        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Connect with us</h5>
          <ul>
            <li>
              <a class="white-text" href="https://www.linkedin.com/in/hrishikesh-magadum-323a431b3/" target="_blank">
                <img src="/static/images/linkedin-icon.svg" alt="LinkedIn Icon" width="20" height="20">Hrishikesh Magadum
              </a>
            </li>
            <li>
              <a class="white-text" href="https://www.linkedin.com/in/harpal-patel-b3b5101b5" target="_blank">
                <img src="/static/images/linkedin-icon.svg" alt="LinkedIn Icon" width="20" height="20">Harpal Patel
              </a>
            </li>
            <li>
              <a class="white-text" href="https://www.linkedin.com/in/rohan-hr-3950681a0" target="_blank">
                <img src="/static/images/linkedin-icon.svg" alt="LinkedIn Icon" width="20" height="20" >Rohan HR
              </a>
            </li>
          </ul>
        </div>
        
        
      
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      Made by <a class="white-text text-lighten-3" >Javascript Flask Python and MongoDB</a>
      </div>
    </div>
  </footer>


  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="/static/js/materialize.js"></script>
  <script src="/static/js/init.js"></script>

  </body>
</html>
