{% extends "base.html" %}

{% block content %}



  <div class="card-wrapper">

    <div class="logindiv">

      <div class="card1">

        <h1 class="center">Log In</h1>
  
        <form name="login_form">
  
          <label for="email" style="font-family: 'Playfair Display', serif;color: white;">Username</label>
          <div class="ui fluid left icon input">
            <input type="text" name="username" placeholder="Username" required>
            <i class="user icon"></i>
          </div>
         
          <label for="password" style="font-family: 'Playfair Display', serif;color: white;">Password</label>
          <div class="ui fluid left icon input">
            <input type="password" name="password" placeholder="Password" required>
            <i class="lock icon"></i>
          </div>
  
          <p class="error error--hidden"></p>
          <div class="loginbutton" >
            <input type="submit" value="Log In" class="ui inverted primary button">
          </div>
          
          
          <p style="font-family: 'Playfair Display', serif;color: white;">Create an Account?&nbsp<i class="large sign in alternate icon"></i> <input type="button"  class="ui inverted primary button" onclick="location.href={{url_for('register')}}" value="SignUp"></p>
        </form>
        
      </div>

    </div>

    
  
  </div>
{% endblock %}
